*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
    list-style: none;
    text-transform: capitalize;
    font-family: sans-serif;
}
.wrapper{
    width: 90%;
    max-width: 1400px;
    margin: 0 auto;
}

.top{
    margin-bottom: 100px;
    text-align: center;
    padding: 40px 0;
}
.top h1{
    font-size: 50px;
    color: #ff6868;
}
.container{
    padding: 30px;
    text-align: center;
    width: 40%;
    margin: 0 auto;
}
.container img{
    display: inline-block;
    width: 40%;
    border-radius: 20px;
    height: 200px;
}
.container h3{
    font-size: 30px;
    color: #ff6868;
    margin: 20px 0;
}
.container span{
    font-size: 20px;
    color: #2d2d2d;
}
.container p{
    font-size: 20px;
    margin-top: 20px;
}
.btn-container{
    margin: 0 auto;
    width: 25%;
    padding: 3% 0;
}
.btn-container button{
    font-size: 20px;
    padding: 14px 20px;
    color: #fff;
    background: #ff6868;
    cursor: pointer;
    border-radius: 8px;
    margin-right: 10px;
    border: 2px solid #ff6868;
}
.btn-container button:hover{
    transition: .3s ease-in;
    background: transparent;
    color: #ff6868;
}